@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

.bg {
  position: absolute;
  background-color: #0f4c81;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 60px;
}

.title_row .title {
  font-size: 45px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.title_row .discription {
  margin-top: 17px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  text-align: center;
  color: white;
  line-height: 25px;
  font-size: 14px;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  margin-top: 30px;
  background-color: #ffffff;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 4px dashed #b5c7d3;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #f3d5ad;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #84898c;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #f5b895;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}


.result_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #f2d6ae;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px;
  color: #84898c;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.result {
  width: 100%;
  border: 1px solid red;
}

.showing {
}
.image_android {
  height: 200px;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
}

.image_wrapper {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: -5;
  margin: 0 auto 0 auto;
  display: block;
}

.random_sentence {
  display: inline-block;
  margin: 50px auto 0 auto;
}

.random_sentence p {
  display: inline-block;
  text-align: justify;
  font-size: 20px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.random_sentence p.dots {
  animation: blink-dots 1.2s linear infinite alternate;
}

.random_sentence p.dots:nth-child(1) {
  animation-delay: -1.2s;
}
.random_sentence p.dots:nth-child(2) {
  animation-delay: -0.7s;
}
.random_sentence p.dots:nth-child(3) {
  animation-delay: -0.1s;
}

@keyframes blink-dots {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.result_btn:hover{
  transition: 0.3s;
  background-color: #c79679;
  color: #887468;
}

.result_btn:left{
  transition: 0.3s;
  background-color: #f5b895;
}